@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P";
}

body{
    height: 100vh;
}

header{
    background-color: #5300C8;
    height:60px;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
}
main{
    height: calc(100% - 264px);
}
#container__produtos{
    display: flex;
    justify-content: space-around;
    margin-top: 54px;
}

/* form */
#form_inserir{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

#form_inserir > input{
    width: 350px;
    height: 38px;
    border-radius: 20px;
    border: 2px solid black;
    padding-left: 10px;
}

#container_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

#container_buttons > button{
    width: 156px;
    height: 48px;
    border-radius: 8px;
    border: 0;
    cursor:pointer;
}

#container_buttons > button:nth-child(1){
    background-color: #03318C;
    color: white;
}

#container_buttons > button:nth-child(2){
    border:2px solid #03318C;
}
footer{
    background-color: #5300C8;
    color:white;
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}